/* :root {
    --azul-principal: #17408f;
    --azul-secundario: #313f5a;
    --azul-terciario: #6388bf;
    --branco: #f7f7ff;
} */

:root {
    --brand-color: #17408F;
    --dark-color: #313F5A;
    --mid-color: #6388BF;
    --light-color: #F7F7FF;
    /* --highlight: #45B69C; */
    --highlight: #4C9A88;
}

.cabecalho {
    background-color: #FFFFFF;
    color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.cabecalho__menu::before {
    content: '\e5d2';
}

.cabecalho__menu--ativo::before {
    content: '\e5cd';
}

.cabecalho__logo {
    width: 150px;
}

.telefone {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: var(--dark-color);
    color: #FFFFFF;
    position: relative;
    width: 100vw;
}

.telefone__central {
    padding: 4px;
}

.telefone__numero {
    padding: 4px;
    font-weight: 700;
}

.menu-lateral {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: var(--light-color);
    position: fixed;
    width: 60vw;
    height: 100vh;
    right: -100vw;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: 0.5s;
    border-left: 1px solid rgba(45, 57, 77, 0.1);
    z-index: -999;
    box-sizing: border-box;
}

.menu-lateral--ativo {
    position: fixed;
    right: 0;
    transition: 0.5s;
    z-index: 999;
}

.menu-lateral__link {
    color: var(--dark-color);
    padding: 16px 24px;
    font-weight: 500;
}

.menu-lateral__link--ativo {
    padding-right: calc(24px - 8px);
    border-right: 8px solid var(--dark-color);
    font-weight: 900;
}