:root {
    --brand-color: #17408F;
    --dark-color: #313F5A;
    --mid-color: #6388BF;
    --light-color: #F7F7FF;
    /* --highlight: #45B69C; */
    --highlight: #4C9A88;
}

body {
    box-sizing: border-box;
}

main {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background: url('../img/banner.png'), linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 65%;
    width: 100vw;
    height: auto;
    min-height: 350px;
    padding: 32px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.banner__titulo {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    /* line-height: 36px; */
    line-height: 1.25em;
    margin-bottom: 16px;
}

.banner__titulo strong {
    font-weight: 700;
}

.banner__titulo strong::before {
    content: '\a';
    white-space: pre;
}

.banner__descricao {
    text-align: center;
    /* line-height: 28px; */
    line-height: 1.5em;
}

.beneficios {
    background-color: var(--dark-color);
    width: 100vw;
    color: #FFFFFF;
    padding: 32px 16px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.beneficios__titulo {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.25em;
}

.beneficios__descricao {
    text-align: center;
    line-height: 1.5em;
}

.quadros {
    background-color: var(--mid-color);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
    width: 100vw;
}

.quadros__1 {
    background-color: var(--mid-color);
    padding: 32px 16px;
    /* box-sizing: border-box; */
    border-top: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.quadros__1__titulo {
    font-size: 28px;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
}

.quadros__1__descricao {
    text-align: center;
    /* line-height: 28px; */
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.quadros__2 {
    background-color: var(--mid-color);
    padding: 32px 16px;
    /* box-sizing: border-box; */
    border-top: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.quadros__2__titulo {
    font-size: 28px;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
}

.quadros__2__descricao {
    text-align: center;
    /* line-height: 28px; */
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.quadros__3 {
    background-color: var(--mid-color);
    padding: 32px 16px;
    /* box-sizing: border-box; */
    border-top: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.quadros__3__titulo {
    font-size: 28px;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
}

.quadros__3__descricao {
    text-align: center;
    /* line-height: 28px; */
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}